* {
  font-family: Roboto;
  padding: 0;
  margin: 0; }

.test {
  color: red; }

body {
  height: 100vh;
  position: relative; }

header {
  width: 100%;
  height: 10vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
    header .logo img {
      width: 80%; }
  header .header-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    padding-left: 15px;
    border-radius: 5px 0 5px 5px;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #9dd1e0; }
    header .header-data h2 {
      font-size: 2.2em; }
    header .header-data h4 {
      font-size: 1.4em; }
    header .header-data p {
      font-weight: 300;
      font-size: 15px; }

.burger {
  display: none;
  border-radius: 25%;
  position: absolute;
  right: 10px;
  width: 25px;
  background-color: white;
  height: 3px; }
  .burger:before, .burger:after {
    border-radius: 25%;
    content: '';
    width: 25px;
    background-color: white;
    height: 3px;
    position: absolute; }
  .burger:before {
    bottom: 7px; }
  .burger:after {
    top: 7px; }

main {
  width: 100%;
  overflow: hidden;
  height: 79vh; }

#map {
  width: 100%;
  height: 100%; }

.ymaps-2-1-65-zoom {
  display: none !important; }

footer {
  height: 11vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
    footer .logo img {
      width: 80%; }
  footer .footer-links a {
    padding: 0 5px;
    text-decoration: none;
    color: #9dd1e0; }
    footer .footer-links a:hover {
      color: red !important; }
    footer .footer-links a:link {
      color: #358da7; }
    footer .footer-links a:visited {
      color: #358da7; }

.about-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%; }
  .about-wrp div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto; }

.data {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  font-weight: 500; }

main {
  position: relative; }

.bglogo {
  position: absolute;
  width: 250px;
  left: 50%;
  top: 45%;
  opacity: .4; }
  .bglogo img {
    width: 100%; }

.bl-title {
  color: #9dd1e0; }

.bl-descr {
  padding: 10px;
  border: 1px dashed #9dd1e0;
  border-radius: 12px; }

.bl-part {
  padding: 5px 0; }

.bl-footer {
  display: flex;
  justify-content: space-between; }

.buy-btn {
  background-color: #9dd1e0;
  border: none;
  border-radius: 12px;
  padding: 10px 15px;
  color: white;
  font-weight: 500;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px; }
  .buy-btn:hover {
    background-color: #52bddc; }

.bl-details {
  font-weight: 500;
  color: #636363;
  text-align: center;
  border-radius: 8px;
  padding: 5px 0;
  background: linear-gradient(to top, #52bddc 0%, #8ac7d8 16%, #c0d5e5 47%, #f7f7f7 89%);
  position: relative; }
  .bl-details img {
    border-radius: 8px;
    transform: scaleY(0);
    transition: transform .15s linear;
    transform-origin: top;
    overflow: hidden; }
  .bl-details summary {
    display: inline-block;
    padding-left: 1.5em;
    cursor: pointer;
    outline: 0;
    transition: color .12s; }
    .bl-details summary:hover {
      color: #d06c6c; }
    .bl-details summary::-webkit-details-marker {
      display: none; }
    .bl-details summary::-moz-list-bullet {
      list-style-type: none; }

details[open] {
  min-height: 2em; }
  details[open] img {
    transition: transform .15s linear;
    transform: scaleY(1);
    width: 60%; }
  details[open]:before {
    transform: rotate(90deg); }

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 767px) {
  body {
    position: relative; }
    body header {
      background-color: trasparent;
      z-index: 7; }
      body header .logo {
        display: none; }
      body header .header-data {
        border-radius: 0 0 5px 5px; }
        body header .header-data h2 {
          font-size: 1.6em !important; }
        body header .header-data h4 {
          font-size: 1.1em !important; }
        body header .header-data p {
          font-weight: 300;
          font-size: 13px !important; }
    body main {
      height: 90vh; }
    body footer {
      transition: transform 500ms;
      transform: translateY(-100%);
      bottom: 0;
      width: 100%;
      position: absolute;
      z-index: 5;
      left: 0;
      top: 10vh;
      height: 40vh; }
      body footer .footer-links {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
  .foo-active {
    display: flex;
    transform: translateY(0%); }
  .burger {
    transform: rotateZ(0deg);
    display: block;
    transition: transform 300ms ease; }
  .--active {
    transform: rotateZ(45deg);
    transition: transform 300ms ease; }
    .--active:before {
      display: none; }
    .--active:after {
      transform: rotateZ(-90deg) translateX(7px);
      transition: transform 300ms ease; }
  .bglogo {
    top: unset;
    left: 14%;
    bottom: 5%; }
  .bl-details img {
    border-radius: unset; } }

/* Small devices (tablets, 768px and up) */
* {
  font-family: Roboto; }
