.about-wrp
    display: flex
    flex-direction: column
    justify-content: center
    height: 80%
    div
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        width: 80%
        margin: 0 auto
        
.data
    padding-top: 5px
    padding-bottom: 5px
    padding-left: 40px
    font-weight: 500
main
    position: relative
.bglogo
    position: absolute
    width: 250px
    left: 50%
    top: 45%
    opacity: .4
    img 
        width: 100%
